<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Your Chat</title>
</head>
<body>
    <h3>Edit Your Chat:<%= chat.id%></h3>
    <p>This chat was send from : <%=chat.from %> to <%=chat.to %></p>

    <form method="POST" action="/chats/<%=chat.id%>?_method=PUT">
        <textarea name="msg" rows="5" cols="15"><%=chat.msg %></textarea><br/>
        <button >Edit</button>
    </form>
    <br/>
</body>
</html>